

.accent-color {
    background-color:lightskyblue;
}

.ws-left-pane {
    position:relative;
    top:0px;
    width:20%; 
    height:100%;
    border-right:2px solid navy; 
    color: navy;
    margin:0; 
}

.ws-title-bar {
    width:100%;
    border-bottom: 2px solid navy;
}

.ws-title-bar h1 {
    margin:8px 5px 5px 15px;
}